@page "/"
@inject BuildingService BuildingService

<h3>Building List</h3>

@if (buildings == null)
{
<p><em>Loading...</em></p>
}
else
{
<ul>
@foreach (var building in buildings)
{
<li>@building.name @building.street @building.number @building.city @building.postcode</li>
}
</ul>
}

@code {

    private List<Building> buildings;

    protected override async Task OnInitializedAsync()
    {
        buildings = await BuildingService.GetAllBuildings();
    }
}